@using VidhayakApp.Core.Entities
@using VidhayakApp.Web.ViewModels
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model FilterViewModel

 @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor 

@{
    ViewData["Title"] = "Complaint";

    var context = HttpContextAccessor.HttpContext;
    var loggedInId = context.Session.GetInt32("UserId");
    var loggedInRoleId = context.Session.GetInt32("RoleId");
    var loggedInRoleName = context.Session.GetString("RoleName");


    if (loggedInRoleId == 2)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AppUserLayout.cshtml";
    }
    // // Use httpContext as needed
    string dateToday = DateTime.Now.ToString("dd-mm-yyyy");

}

@if (loggedInId == null || loggedInRoleId == null )
{
    context.Response.Redirect("/Account/Login");
}
else if (loggedInRoleName == "AppUser" && loggedInRoleId == 3 || loggedInRoleName == "Admin" && loggedInRoleId == 2)
{
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert | Export html Table to CSV & EXCEL File</title>
    <link rel="stylesheet" type="text/css" href="~/css/UserDashboardTable.css">
    @* <link rel="stylesheet" type="text/css" href="~/css/filter.css"> *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        
</head>

<body class="body_img_user_table">
    <main class="table" id="customers_table">
        <section class="table__header">
            <h3>@ViewData["Title"]</h3>
               
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                @*  <img src="~/dist/img/search.png" alt=""> *@
            </div>
           @*  <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="~/dist/img/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="~/dist/img/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="~/dist/img/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="~/dist/img/excel.png" alt=""></label>
                </div>
            <div>
            </div> *@
        </section>
            <form method="get" >
    <section>
        <section class="form-group" style="margin-top:10px; margin-right:0px">
                    <input asp-for="FromDate" class="filter" id="fromDate" type="date" name="fromDate" placeholder="@dateToday" value="@ViewData["FromDate"]">
                    <input asp-for="ToDate" class="filter" id="toDate" type="date" name="toDate" placeholder="@dateToday" value="@ViewData["ToDate"]">
             <select asp-for="statusType" name="statusType" id="statusInput" class="filter" >
                <!-- Options here -->
                <option value="">Select...</option>
                <option value="@StatusType.Pending">Pending</option>
                <option value="@StatusType.InProgress">InProgress</option>
                <option value="@StatusType.Completed">Completed</option>
                <option value="@StatusType.Closed">Closed</option>
                <option value="@StatusType.Rejected">Rejected</option>
             </select>
            <button asp-controller="AppUser" asp-action="Complaint" type="submit" id="filtersearchbtn" class="btn btn-primary">Search</button>
        </section>
    </section>
</form>
        @if (Model.userDetailAndFormDetailOnAppUserDashboardViewModel == null || !Model.userDetailAndFormDetailOnAppUserDashboardViewModel.Any())
        {
            <p>No data found.</p>
        }
        else
        {
        <section class="table__body" id="complaintsTable">
            <table>
                    
                  
                <thead>
                    <tr>
          @*                   <th>Id <span class="icon-arrow">&UpArrow;</span></th> *@
                        <th>Name <span class="icon-arrow">&UpArrow;</span></th>
                        <th>UserName <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Mobile <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Address <span class="icon-arrow">&UpArrow;</span></th>
                     
                        <th>Sub Category <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Department Name <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Title <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Description <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Created On <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Updated At <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Status <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Note <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var userDetail in Model.userDetailAndFormDetailOnAppUserDashboardViewModel)
                    {
                 
                        <tr>
                           @*  <td>@(userDetail.ItemId )</td> *@
                            <td>@(userDetail.Name ?? "")</td>
                            <td>@(userDetail.UserName ?? "")</td>
                            <td>@(userDetail.MobileNumber ?? "")</td>
                            <td>@(userDetail.Address ?? "")</td>
                        
                            <td>@(userDetail.SubCategory)</td>
                            <td>@(userDetail.DepartmentName ?? "")</td>
                            <td>@(userDetail.Title ?? "")</td>
                            <td>@(userDetail.Description ?? "")</td>
                            <td>@(userDetail.CreatedAt)</td>
                            <td>@(userDetail.UpdatedAt)</td>
                            <td>@(userDetail.Status)</td>
                            <td>@(userDetail.Note ?? "")</td>
                            <td>
                                    <a asp-controller="AppUser" asp-action="UpdateOnUserIssuesOnAppUserDashboard" asp-route-id="@userDetail.ItemId" class="edit"><center><i class="fa-sharp fa-solid fa-wrench"></i></center></a>
                            </td>
                        </tr>
                    }
              
                </tbody>
                    
            
            </table>
                    <div>
                        @Html.PagedListPager(Model.userDetailAndFormDetailOnAppUserDashboardViewModel, page => Url.Action("Complaint", new { pageId = page }), new PagedListRenderOptions
                       {
                           // DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                           // DisplayLinkToLastPage = PagedListDisplayMode.Always,
                           // DisplayPageCountAndCurrentLocation = true,
                           LiElementClasses = new string[] { "page-item" },
                           PageClasses = new string[] { "page-link" },
                       })
                   @*
                       the parameter name inside the method should always be the same as here
                       
                       if name changes id won't pass 

                       if pageQ was written instead of pageId parameter name which is inside complaint method parameter body 
                       then id value will not get passed inside parameter body 

                   *@
                    
                    </div>
        </section>
        }
    </main>
    <!-- Reference the external JavaScript file -->
    <script src="~/js/filterData.js"></script>
    
    <script src="~/js/UserDashboardTable.js"></script>

</body>

</html>

} else
{
    context.Response.Redirect("/Shared/404NotFoundError");
}



