@using VidhayakApp.Web.ViewModels.AppUser
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<UserDetailAndFormDetailOnAppUserDashboardViewModel>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Complaint";
    Layout = "~/Views/Shared/_AppUserLayout.cshtml";
    var context = HttpContextAccessor.HttpContext;
    // Use httpContext as needed
    var loggedInId = context.Session.GetInt32("UserId");

}

@if(loggedInId == null)
{
    context.Response.Redirect("/Account/Login");
}else{
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert | Export html Table to CSV & EXCEL File</title>
    <link rel="stylesheet" type="text/css" href="~/css/UserDashboardTable.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        
</head>

<body class="body_img_user_table">
    <main class="table" id="customers_table">
        <section class="table__header">
            <h3>@ViewData["Title"]</h3>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                @*  <img src="~/dist/img/search.png" alt=""> *@
            </div>
           @*  <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="~/dist/img/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="~/dist/img/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="~/dist/img/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="~/dist/img/excel.png" alt=""></label>
                </div>
            </div> *@
        </section>
        <section class="table__body">
            <table>
                    
                  
                <thead>
                    <tr>
          @*                   <th>Id <span class="icon-arrow">&UpArrow;</span></th> *@
                        <th>Name <span class="icon-arrow">&UpArrow;</span></th>
                        <th>UserName <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Mobile <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Address <span class="icon-arrow">&UpArrow;</span></th>
                     
                        <th>Sub Category <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Department Name <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Title <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Description <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Created On <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Updated At <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Status <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Note <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var userDetail in Model)
                    {
                 
                        <tr>
                           @*  <td>@(userDetail.ItemId )</td> *@
                            <td>@(userDetail.Name ?? "")</td>
                            <td>@(userDetail.UserName ?? "")</td>
                            <td>@(userDetail.MobileNumber ?? "")</td>
                            <td>@(userDetail.Address ?? "")</td>
                        
                            <td>@(userDetail.SubCategory)</td>
                            <td>@(userDetail.DepartmentName ?? "")</td>
                            <td>@(userDetail.Title ?? "")</td>
                            <td>@(userDetail.Description ?? "")</td>
                            <td>@(userDetail.CreatedAt)</td>
                            <td>@(userDetail.UpdatedAt)</td>
                            <td>@(userDetail.Status)</td>
                            <td>@(userDetail.Note ?? "")</td>
                            <td>
                                    <a asp-controller="AppUser" asp-action="UpdateOnUserIssuesOnAppUserDashboard" asp-route-id="@userDetail.ItemId" class="edit"><center><i class="fa-sharp fa-solid fa-wrench"></i></center></a>
                            </td>
                        </tr>
                    }
              
                </tbody>
                    
            
            </table>
                    <div>
                        @Html.PagedListPager(Model, page => Url.Action("Complaint", new { pageId = page }), new PagedListRenderOptions
                       {
                           // DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                           // DisplayLinkToLastPage = PagedListDisplayMode.Always,
                           // DisplayPageCountAndCurrentLocation = true,
                           LiElementClasses = new string[] { "page-item" },
                           PageClasses = new string[] { "page-link" },
                       })
                   @*
                       the parameter name inside the method should always be the same as here
                       
                       if name changes id won't pass 

                       if pageQ was written instead of pageId parameter name which is inside complaint method parameter body 
                       then id value will not get passed inside parameter body 

                   *@
                    
                    </div>
        </section>
    </main>
    <script src="~/js/UserDashboardTable.js"></script>

</body>

</html>

}



