﻿@using VidhayakApp.Core.Entities
@using VidhayakApp.Web.ViewModels
@model FormViewModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    // Access HttpContext
    var context = HttpContextAccessor.HttpContext;
    // Use httpContext as needed
    var loggedInId=context.Session.GetInt32("UserId");
}
@if (loggedInId == null)
{
    context.Response.Redirect("/Account/Login");
    return; // Add return to stop further execution

}else{

<body>

    <section class="">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="card card-danger">
                        <div class="card-header">
                                <h5 id="formTitle">@(ViewData["FormName"] ?? ViewData["Title"])</h5> 
                        </div>

                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" >
                               
                                <input type="hidden" asp-for="UserId" value="lockedInId" />
                                <div class="form-group">
                                    <label>Category</label>
                                    <select asp-for="Type" id="categoryInput" class="form-control">
                                        <option selected="" value="">Select...</option>
                                        <option value="@ItemType.Demand">Demand</option>
                                        <option value="@ItemType.Complaint">Complaint</option>
                                        <option value="@ItemType.Suggestion">Suggestion</option>
                                    </select>
                                </div>
                               
                                <div id="complaintForm" style="display: none;">
                                    <!-- Complaint form fields -->

                                    <div class="form-group">
                                        <label>SubCategory</label>
                                        <select id="subCategoryComplaintInput" class="form-control" asp-for="SubCategoryTypeId" onchange="handleComplaintSubCategoryChange()">
                                            <!-- Options here -->
                                            <option selected="">Select...</option>
                                            <option value="@(SubCategoryType.GovernmentDepartments)">Related to Government Department</option>
                                            <option value="@(SubCategoryType.PrivateOrganization)">Related to Private Organization</option>
                                            <option value="@(SubCategoryType.Personal)">Related to Personal</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input asp-for="Title" type="text" id="titleId" class="form-control" placeholder="Enter ..." disabled />
                                        </div>

                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea asp-for="Description" id="descriptionId" class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Select Department</label>
                                            <select asp-for="DepartmentId"  name="DepartmentId" id="departmentInput" class="form-control" disabled>
                                                <!-- Options here -->
                                                <option selected="">Select...</option>
                                                <option value="1">Collectorate</option>
                                                <option value="2">Nagar Tanagam</option>
                                                <option value="3">Rajthav Division</option>
                                                <option value="4">Panchayi Division</option>
                                                <option value="5">Adhyay Division</option>
                                                <option value="6">Mahila and Bal Vikas Division</option>
                                                <option value="7">Samasjik Nyay Division</option>
                                                <option value="8">Thavathy Division</option>
                                                <option value="9">Lok Tanmayi Division PWD</option>
                                                <option value="10">Lok Thavathy and Yantriki PHE</option>
                                                <option value="11">Shiksha Division</option>
                                                <option value="12">Bak</option>
                                                <!-- Add other options as needed -->
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Upload Image</label>
                                        <input asp-for="ImageFile" type="file" name="ImageFile" class="form-control-file" id="ImageUploadId" />
                                    </div>


                                    <div class="text-center">
                                        <button asp-action="CreateComplaint" asp-controller="Form" id="submitId" class="btn btn-primary col-sm-12" type="submit">Submit Complaint</button>
                                    </div>
                                </div>
                                

                                <div id="demandForm" style="display: none;">
                                    <!-- Demand form fields -->

                                    <div class="form-group">
                                        <label>Sub-Category</label>
                                        <select id="subCategoryDemandInput" class="form-control" asp-for="SubCategoryTypeIdForDemand" onchange="handleDemandSubCategoryChange()">
                                            <!-- Options here -->
                                            <option selected="">Select...</option>
                                            <option value="@(SubCategoryType.GovernmentSchemes)">Related to Government Schemes</option>
                                            <option value="@(SubCategoryType.PrivateOrganization)">Related to Private Organization</option>
                                            <option value="@(SubCategoryType.Personal)">Related to Personal</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input asp-for="Title" type="text" id="tId" class="form-control" placeholder="Enter ..." disabled>
                                        </div>

                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea asp-for="Description" id="dpId" class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Select Schemes</label>
                                            <select asp-for="SchemeId" name="SchemeId" asp-route-id="3" id="SchemeInput" class="form-control" disabled>
                                                <!-- Options here -->
                                         
                                                <option selected="">Select...</option>
                                                <option value="1">Samagra ID</option>
                                                <option value="2">Aadhar Card</option>
                                                <option value="3">Eligibility Certificate (Ration)</option>
                                                <option value="4">BPL Card</option>
                                                <option value="5">Birth Certificate</option>
                                                <option value="5">Death Certificate</option>
                                                <option value="6">Marriage Certificate</option>
                                                <option value="7">Non-Creamy Layer Certificate</option>
                                                <option value="8">Pradhan Mantri Awas Yojana</option>
                                                <option value="9">Building Permit</option>
                                                <option value="10">Old Age Pension</option>
                                                <option value="11">Widow Pension</option>
                                                <option value="12">Handicap Pension</option>
                                                <option value="13">Widowhood Pension</option>
                                                <option value="14">Divyang Pension</option>
                                                <option value="15">Orphan Girl Pension</option>
                                                <option value="16">Empowerment Card</option>
                                                <option value="17">Building Construction Labor Card</option>
                                                <option value="18">Funeral Assistance</option>
                                                <option value="19">Grace Assistance</option>
                                                <option value="20">Ladli Sister Scheme</option>
                                                <option value="21">Matru Vandana Yojana</option>
                                                <option value="22">Nutrition Food</option>
                                                <option value="23">Path Vendor Registration</option>
                                                <option value="24">Path Vendor Loan</option>
                                                <option value="25">Self-Employment Loan</option>
                                                <option value="26">Conversion Diversion</option>
                                                <option value="27">Patta (Land Ownership Document)</option>
                                                <option value="28">Land Lease</option>
                                                <option value="29">New Water Connection</option>
                                                <option value="30">Inter-caste Marriage Incentive Amount</option>
                                                <option value="31">Chief Minister's Kanyadan</option>
                                                <!-- Add other options as needed -->
                                            </select>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button asp-action="CreateDemand" asp-controller="Form" class="btn btn-primary col-sm-12" id="submitDemandId" type="submit">Submit Demand</button>
                                    </div>
                                </div>
                                        <div id="suggestionForm" style="display: none;">
                                            <!-- Suggestion form fields -->
                                            <div class="form-group">
                                                <label>Suggestion</label>
                                                <textarea asp-for="Description" id="suggestionId" class="form-control" rows="3" placeholder="Enter your suggestion..."></textarea>
                                            </div>

                                            <div class="text-center">
                                                 <button asp-action="CreateSuggestion" asp-controller="Form" class="btn btn-primary col-sm-12" id="submitSuggestionId" type="submit">Submit Suggestion</button>
                                            </div>
                                       
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/js/Demand.js"></script>
    <script src="~/js/DepartmentSchemeDisable.js"></script>
        <script>
            // Add event listener for the 'change' event
            document.getElementById("categoryInput").addEventListener("change", function () {
                // Update the form title dynamically based on the selected category
                var categoryInput = document.getElementById("categoryInput");
            
                if (categoryInput.options[categoryInput.selectedIndex].text == "Select...")
                    document.getElementById("formTitle").innerText = "Form";
                    else

                document.getElementById("formTitle").innerText = categoryInput.options[categoryInput.selectedIndex].text;


            });
        </script>

</body>
    }